.users_wrapper {
    width: 360px;
    border: 1px solid #ccc;
}

ul.usersList {
    margin: 0;
    padding: 0;
}

.users_list {
    height: 400px;
    overflow: auto;
}

.logged_in_user {
    background: #eee;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}