/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.profilePic {
    width: 50px;
}

.profilePic img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}